{% extends 'admin/dashboard.html.twig' %}

{% block title %}Modifier la publicité {{ advertise.title }}{% endblock %}

{% block in_body %}

<div class="max-w-4xl mx-14 w-full p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-gray-800 mb-6">{% if advertise.id %}Modifier{% else %}Créer{% endif %} une publicité</h2>
    
    {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}
    
    <div class="space-y-2">
        {{ form_label(form.company, 'Entreprise', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.company, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm p-2 border'}}) }}
        {{ form_errors(form.company, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>
    
    <div class="space-y-2">
        {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm p-2 border'}}) }}
        {{ form_errors(form.title, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>
    
    <div class="space-y-2">
        {{ form_label(form.phoneNumber, 'Téléphone (optionnel)', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.phoneNumber, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm p-2 border'}}) }}
        {{ form_errors(form.phoneNumber, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>
    
    <div class="space-y-2">
        {{ form_label(form.email, 'Email (optionnel)', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm p-2 border'}}) }}
        {{ form_errors(form.email, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>
    
    <div class="space-y-2">
        {{ form_label(form.description, 'Description (optionnel)', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-yellow-500 focus:ring-yellow-500 sm:text-sm p-2 border h-32', 'rows': 5}}) }}
        {{ form_errors(form.description, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
    </div>

    <div class="space-y-2">
            <div class="relative flex items-start">
                <div class="flex h-5 items-center">
                    {{ form_widget(form.isMiddle, {
                        'attr': {
                            'class': 'h-4 w-4 rounded border-gray-300 text-yellow-600 focus:ring-yellow-500'
                        }
                    }) }}
                </div>
                <div class="ml-3 text-sm">
                    {{ form_label(form.isMiddle, 'L\'afficher au milieu ?', {
                        'label_attr': {
                            'class': 'font-medium text-gray-700'
                        }
                    }) }}
                </div>
            </div>
            {{ form_errors(form.isMiddle, {
                'attr': {
                    'class': 'text-red-500 text-xs italic'
                }
            }) }}
    </div>
    <div class="space-y-2">
            {{ form_label(form.imageFile, 'Image (optionnel)', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
            {{ form_widget(form.imageFile, {'attr': {'class': 'mt-1 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-yellow-50 file:text-yellow-700 hover:file:bg-yellow-100'}}) }}
            {{ form_errors(form.imageFile, {'attr': {'class': 'text-red-500 text-xs italic'}}) }}
            <p class="mt-1 text-sm text-gray-500">JPEG, PNG, GIF ou SVG (max. 2MB)</p>
            
            {% if advertise.imageUrl %}
                <div class="mt-2">
                    <span class="text-sm text-gray-700">Image actuelle :</span>
                    <img src="{{ asset('uploads/advertise/' ~ advertise.imageUrl) }}" alt="Current image" class="h-20 mt-1 rounded">
                </div>
            {% endif %}
    </div>

    
    
    <div class="flex justify-end space-x-4 pt-6">
        <a href="{{ path('app_advertise_index') }}" class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
            Annuler
        </a>
        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
            {% if advertise.id %}Mettre à jour{% else %}Créer{% endif %}
        </button>
    </div>
    {{ include('admin/advertise/_delete_form.html.twig') }}
    
    {{ form_end(form) }}
</div>

{% endblock %}
