{% extends 'admin/dashboard.html.twig' %}

{% block title %}Créer un nouveau article{% endblock %}

{% block in_body %}
<section class="w-full dark:bg-gray-900 py-1 sm:py-2">
  <div class="mx-auto max-w-screen-2xl lg:px-6">
      <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
        <h5 class="text-center mb-2 text-2xl font-semibold dark:text-white">
            <span class="bg-gradient-to-r from-orange-500 to-red-800 text-transparent bg-clip-text">Créer un nouveau article</span></h5>
        </h5>
        <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
            {{ form_start(form) }}
                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                    <div class="sm:col-span-2">
                        {{ form_label(form.title, 'Titre de l\'Article', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.title, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-600 focus:border-yellow-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-yellow-500 dark:focus:border-yellow-500'}}) }}
                        {{ form_errors(form.title, {'attr': {'class': 'text-red-500 text-sm'}}) }}
                    </div>
                    <div class="sm:col-span-2">
                        {{ form_label(form.category, 'Catégorie', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.category, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-500 focus:border-yellow-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-yellow-500 dark:focus:border-yellow-500'}}) }}
                        {{ form_errors(form.category, {'attr': {'class': 'text-red-500 text-sm'}}) }}
                    </div>
                    <div class="sm:col-span-2">
                        {{ form_widget(form.content)}}
                    </div>
                    <div class="sm:col-span-2">
                        {{ form_label(form.emissionFile, 'Charger l\'Emission', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.emissionFile, {'attr': {'class': 'block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400'}}) }}
                        <div class="mt-1 text-sm text-red-600 dark:text-red-500">
                            {{ form_errors(form.emissionFile) }}
                        </div>
                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">MP3, WAV, OGG (MAX. 50MB)</p>
                    </div>
                    <div class="sm:col-span-2 flex items-center justify-center w-full flex-col overflow-hidden">
                      <span class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image de l'Article</span>
                      <div class="flex justify-center items-center w-full">
                          <label for="dropzone-file" class="flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                            <div class="flex flex-col justify-center items-center pt-5 pb-6">
                            <div class="flex gap-5 w-full">
                                <div>
                                {% if required is defined %}
                                    {{ form_widget(form.imageFile,{attr:{required: required}}) }}
                                {% else %}
                                    {{ form_widget(form.imageFile) }}
                                {% endif %}
                                </div>
                                <div class="image-preview">
                                {% if not article.imageUrl == "" %}
                                <img src="{{article.imageUrl}}" class="w-fit" alt="Image de l'Article: {{article.title}}">
                                {% endif %}
                                </div>
                            </div>
                                  <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                              </div>
                          </label>
                      </div>
                  </div>
                  <div class="flex">
                    <div class="flex items-center mr-4">
                            {{ form_widget(form.isPublished, {'attr': {'class': 'w-4 h-4 bg-gray-100 rounded border-gray-300 text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}}) }}
                            {{ form_label(form.isPublished, 'Publier a l\'instant', {'label_attr': {'class': 'ml-2 text-sm font-medium text-gray-900 dark:text-gray-300'}}) }}
                    </div>
                    <div class="flex items-center mr-4">
                            {{ form_widget(form.isUrgent, {'attr': {'class': 'w-4 h-4 bg-gray-100 rounded border-gray-300 text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}}) }}
                            {{ form_label(form.isUrgent, 'C\'est important', {'label_attr': {'class': 'ml-2 text-sm font-medium text-gray-900 dark:text-gray-300'}}) }}
                    </div>
                  </div>
                </div>
                <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-yellow-700 rounded-lg focus:ring-4 focus:ring-yellow-200 dark:focus:ring-yellow-900 hover:bg-yellow-800">
                    Ajouter un article
                </button>
            {{ form_end(form) }}
        </div>
      </section>
      </div>
    </div>
</section>
{% block js %}
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    
    <script>
          $(document).ready(function() {
            $("input[type='file']").change(function(){
                var file = $(this).get(0).files[0]
                console.log(file)
                if(file){
                    var reader = new FileReader();
                    reader.onload = function(){
                        var img = `<img src='${reader.result}' alt="Preview Image"/>`;
                        $(".image-preview").html(img)
                    }
                    reader.readAsDataURL(file)
                }
            })
            $("textarea").removeAttr("required")
        });
        ClassicEditor .create( document.querySelector( '#article_form_content' ) )
        .then(editor => { console.log( editor ); } ) .catch( error => {
        console.error( error ); } );
    </script>
{% endblock %}
{% endblock %}